name: Generate documentation

on:
  workflow_call:
    inputs:
      branch:
        description: 'Branch to grab docs from'
        required: true
        type: string
        default: 'main'
      docs_branch:
        description: 'Branch to merge with in midnight-docs'
        required: true
        type: string
        default: 'main'
      pr_description:
        description: 'PR description for docs'
        required: true
        type: string
        default: 'Example PR description for midnight-docs'
    secrets:
      MIDNIGHTCI_PACKAGES_READ:
        required: true
      MIDNIGHTCI_PACKAGES_WRITE:
        required: true
      ATTIC_CACHE_TOKEN:
        required: true
      MIDNIGHTCI_REPO:
        required: true

jobs:
  generate-docs:
    runs-on: ubuntu-latest-16-core-x64
    steps:
      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: |
            extra-trusted-public-keys = hydra.iohk.io:f/Ea+s+dFdN+3Y/G+FDgSq+a5NEWhJGzdjvKNGv0/EQ=
            extra-substituters = https://cache.iog.io
            accept-flake-config = true

      - name: Cache Nix
        uses: input-output-hk/actions/attic@latest
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          endpoint: https://attic.ci.iog.io
          cache: midnight-public
          access_token: ${{ secrets.ATTIC_CACHE_TOKEN }}

      - name: Checkout compactc repository
        uses: actions/checkout@v4
        with:
          ref: ${{ needs.setup.outputs.branch }}

      - name: Setup .npmrc
        run: |
          cd ./runtime
          echo "
          //npm.pkg.github.com/:_authToken=${{ secrets.MIDNIGHTCI_PACKAGES_WRITE }}
          @midnight-ntwrk:registry=https://npm.pkg.github.com/
          " > .npmrc

      - name: Configure yarn
        run: |
          cd ./runtime
          yarn config set 'npmScopes.midnight-ntwrk.npmAuthToken' "${{ secrets.MIDNIGHTCI_PACKAGES_WRITE }}"
          echo 'checksumBehavior: update' >> ./.yarnrc.yml

      - name: Build runtime
        run: |
          nix build .#runtime.forPublish

      - name: Generate runtime docs
        run: |
          nix develop --command bash -c "cd ./runtime ; npm run build ; npm run generate-docs"

      - name: Checkout docs repo
        uses: actions/checkout@v4
        with:
          repository: "midnightntwrk/midnight-docs"
          token: ${{ secrets.MIDNIGHTCI_REPO }}
          path: "midnight-docs"
          ref: ${{ inputs.docs_branch }}

      - name: Manual Git Push
        run: |
          cd midnight-docs
          git config user.name "midnight-ci"
          git config user.email "ci@midnight.network"

          git checkout -b compact-docs-update-${{ github.run_id }}

          cp ../doc/ledger-adt.mdx docs/_develop/_reference/compact
          cp ../doc/lang-ref.mdx docs/_develop/_reference/compact
          cp ../doc/api/CompactStandardLibrary/exports.md docs/_develop/_reference/compact/compact-std-library
          cp ../doc/api/CompactStandardLibrary/README.md docs/_develop/_reference/compact/compact-std-library
          cp ../doc/compiler-usage.md docs/_develop/_reference/tools/compiler-usage.mdx
          cp -r ../doc/api/runtime/. ./docs/_develop/_reference/midnight-api/compact-runtime
          echo -e "# Compact runtime API\n\n$(cat ../doc/api/runtime/README.md)" > ./docs/_develop/_reference/midnight-api/compact-runtime/README.md
          cp -r ../doc/Compact.html ./static/language/compact.html
          cp -r ../doc/ledger-adt.mdx ./static/language/ledger-adt.mdx

          git add .
          git commit -m "Update compact documentation"
          git push origin compact-docs-update-${{ github.run_id }}

      - name: Create PR
        env:
          GH_TOKEN: ${{ secrets.MIDNIGHTCI_REPO }}
        run: |
          gh pr create \
            --repo midnightntwrk/midnight-docs \
            --base ${{ inputs.docs_branch }} \
            --head "compact-docs-update-${{ github.run_id }}" \
            --title "compact - ${{ inputs.pr_description }}" \
            --body 'PR: ${{ inputs.pr_description }}'
