name: Build workflow for release

on:
  workflow_call:
    inputs:
      tag:
        description: 'Release tag'
        required: true
        type: string
      branch:
        description: 'Release branch'
        required: true
        type: string
      platform:
        description: 'Image with OS to run on'
        required: true
        type: string
      architecture:
        description: 'Processor architecture'
        required: true
        type: string
      artifact:
        description: 'Build artifact'
        required: true
        type: string
      buildCommand:
        description: 'Command to build artifact'
        required: true
        type: string
      skipCache:
        description: 'Skip nix cache'
        required: true
        type: boolean

jobs:
  build:
    name: Build compactc binary for specific system
    runs-on: ${{ inputs.platform }}
    steps:
      - name: Set name of artifact
        run: |
          export ARTIFACT_NAME=compactc_${{ inputs.tag }}_${{ inputs.architecture }}
          echo "ARTIFACT_NAME=$ARTIFACT_NAME" >> $GITHUB_ENV

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: |
            extra-trusted-public-keys = hydra.iohk.io:f/Ea+s+dFdN+3Y/G+FDgSq+a5NEWhJGzdjvKNGv0/EQ=
            extra-substituters = https://cache.iog.io
            accept-flake-config = true

      - name: Cache Nix
        if: ${{ !inputs.skipCache }}
        uses: input-output-hk/actions/attic@latest
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          endpoint: https://attic.ci.iog.io
          cache: midnight-public
          access_token: ${{ secrets.ATTIC_CACHE_TOKEN }}

      - name: Checkout compactc repository
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch }}

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          always-auth: true
          registry-url: https://npm.pkg.github.com/
          scope: '@midnight-ntwrk'
          node-version-file: '.nvmrc'
        env:
          NODE_AUTH_TOKEN: ${{ secrets.MIDNIGHTCI_PACKAGES_WRITE }}

      - name: Create binary for specific system
        run: |
          ${{ inputs.buildCommand }}
          zip --junk-paths ${{ env.ARTIFACT_NAME }}.zip result/**/**

      - name: Upload release artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.artifact }}
          path: ${{ env.ARTIFACT_NAME }}.zip
          if-no-files-found: error
