name: Build multiplatform docker image and push to registry

on:
  workflow_call:
    inputs:
      version:
        description: 'Version tag'
        required: true
        type: 'string'
      branch:
        description: 'Release branch'
        required: true
        type: string
    secrets: 
      MIDNIGHTCI_PACKAGES_READ:
        required: true
      MIDNIGHTCI_PACKAGES_WRITE:
        required: true
      ATTIC_CACHE_TOKEN:
        required: true

concurrency:
  group: docker-${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Setup api.github.com credentials
        uses: extractions/netrc@v2
        with:
          machine: api.github.com
          username: MidnightCI
          password: ${{ secrets.MIDNIGHTCI_PACKAGES_READ }}

      - name: Setup github.com credentials
        uses: extractions/netrc@v2
        with:
          machine: github.com
          username: MidnightCI
          password: ${{ secrets.MIDNIGHTCI_PACKAGES_READ }}

      - name: Configure git rewrite
        run: |
          mkdir -p $HOME/.config/git
          echo '[url "https://github.com/"]' >> $HOME/.config/git/config
          echo '  insteadOf = "git@github.com:"' >> $HOME/.config/git/config
          echo '  insteadOf = "git@github.com/"' >> $HOME/.config/git/config
          echo '  insteadOf = "ssh://git@github.com/"' >> $HOME/.config/git/config

      - name: Docker login to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ntwrk-bot
          password: ${{ secrets.MIDNIGHTCI_PACKAGES_WRITE }}

      - name: Docker setup buildx
        uses: docker/setup-buildx-action@v2.5.0
        with:
          platforms: linux/arm/v7,linux/arm/v8,linux/arm64,linux/amd64,linux/386 # optional

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          #github_access_token: ${{ secrets.MIDNIGHTCI_PACKAGES_READ }}
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: |
            netrc-file = ~/.netrc
            access-tokens = github.com=${{ secrets.MIDNIGHTCI_PACKAGES_READ }} api.github.com=${{ secrets.MIDNIGHTCI_PACKAGES_READ }}

      - name: Cache Nix
        uses: input-output-hk/actions/attic@latest
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          endpoint: https://attic.ci.iog.io
          cache: midnight
          access_token: ${{ secrets.ATTIC_CACHE_TOKEN }}

      - name: Checkout compactc repository
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch }}

      - name: Create compactc-base image
        run: |
          nix run .#compactc-oci.copyTo docker://ghcr.io/midnight-ntwrk/compactc-base:latest --accept-flake-config

      - name: Create multiplatform image and push
        run: |
          docker buildx build \
          --platform linux/arm/v7,linux/arm/v8,linux/arm64,linux/amd64,linux/386 \
          -t ghcr.io/midnight-ntwrk/compactc:latest \
          -t ghcr.io/midnight-ntwrk/compactc:${{ inputs.version }} \
          --push .
