name: Public release of compactc

on:
  workflow_call:
    inputs:
      version:
        description: 'Tag/version (e.g. v1.2.3)'
        required: true
        type: string
      branch:
        description: 'Branch to use for release'
        required: true
        type: string
        default: "main"
      macos_x86:
        description: 'Macos x86 artifact name'
        required: true
        type: string
      macos_arm:
        description: 'Macos ARM artifact name'
        required: true
        type: string
      linux_x86:
        description: 'Linux x86 artifact name'
        required: true
        type: string
      linux_arm:
        description: 'Linux ARM artifact name'
        required: true
        type: string

  
  workflow_dispatch:
    inputs:
      version:
        description: 'Tag/version (e.g. v1.2.3)'
        required: true
        type: string
      branch:
        description: 'Branch to use for release'
        required: true
        type: string
        default: "main"
      macos_x86:
        description: 'Macos x86 artifact name'
        default: 'x86_64-darwin'
        required: true
        type: string
      macos_arm:
        description: 'Macos ARM artifact name'
        default: 'aarch64-darwin'
        required: true
        type: string
      linux_x86:
        description: 'Linux x86 artifact name'
        default: 'x86_64-unknown-linux-musl'
        required: true
        type: string
      linux_arm:
        description: 'Linux ARM artifact name'
        default: 'aarch64-unknown-linux-musl'
        required: true
        type: string


# some duplication in manual dispatch names
# tag should be same as version
jobs:
  make-artifacts-public:
    if: ${{ !contains(inputs.version, '-rc') }}
    name: Make artifacts public
    uses: ./.github/workflows/release-public-artifact.yml
    secrets: inherit
    with:
      tag: ${{ inputs.version }}
      macos-x86: ${{ inputs.macos_x86 }}
      macos-arm: ${{ inputs.macos_arm }}
      linux-x86: ${{ inputs.linux_x86 }}

  build-docker:
    if: ${{ !contains(inputs.version, '-rc') }}
    name: Build docker images
    needs: [ make-artifacts-public ]
    uses: ./.github/workflows/release-internal-docker.yml
    secrets: inherit
    with:
      version: ${{ inputs.version }}
      branch: ${{ inputs.branch }}
