name: Build, test and release compactc

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Release version (e.g. v1.2.3 or v1.2.3-rc.1)'
        required: true
        type: string
      branch:
        description: 'Branch to use for release'
        required: true
        type: string
        default: 'main'
      skip_macos_intel:
        description: 'Skip MacOS Intel build'
        required: true
        type: boolean
        default: false
      docs:
        description: 'Create branch with documentation'
        required: true
        type: boolean
        default: false
      docs_branch:
        description: 'Branch to merge with in midnight-docs'
        required: true
        type: string
        default: 'main'
      pr_description:
        description: 'PR description for docs'
        required: true
        type: string
        default: 'Example PR description for midnight-docs'
      create_release:
        description: 'Create a release?'
        required: false
        type: boolean
        default: true

  schedule:
    - cron: '0 */12 * * *'

concurrency:
  group: release-${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: false

jobs:
  setup:
    name: Setup the variables
    runs-on: ubuntu-latest
    outputs:
      branch: ${{ steps.set_branch.outputs.branch }}
      clean_tag: ${{ steps.clean.outputs.tag }}
      linux_arm: ${{ steps.linux_arm.outputs.name }}
      linux_x86: ${{ steps.linux_x86.outputs.name }}
      macos_arm: ${{ steps.macos_arm.outputs.name }}
      macos_x86: ${{ steps.macos_x86.outputs.name }}
    steps:
      - name: Determine branch
        id: set_branch
        run: |
          BRANCH="${{ inputs.branch }}"
          if [ -z "$BRANCH" ]; then
            BRANCH="main"
          fi
          echo "Using branch: $BRANCH"
          echo "branch=$BRANCH" >> $GITHUB_OUTPUT

      - name: Sanitize tag
        id: clean
        run: |
          # Remove slashes in the branch name, otherwise they would be interpreted as subdirectories
          # in the build step
          export SAFE_REF_NAME="$(echo ${{ inputs.version || github.ref_name }} | sed 's;/;_;g')"
          echo "tag=$SAFE_REF_NAME" >> $GITHUB_OUTPUT

      - name: Set linux arm name
        id: linux_arm
        run: echo "name=aarch64-unknown-linux-musl" >> "$GITHUB_OUTPUT"

      - name: Set linux x86 name
        id: linux_x86
        run: echo "name=x86_64-unknown-linux-musl" >> "$GITHUB_OUTPUT"

      - name: Set macos arm name
        id: macos_arm
        run: echo "name=aarch64-darwin" >> "$GITHUB_OUTPUT"

      - name: Set linux x86 name
        id: macos_x86
        run: echo "name=x86_64-darwin" >> "$GITHUB_OUTPUT"

  check-docs:
    name: Check if documentation is updated
    runs-on: ubuntu-latest
    needs: [ setup ]
    steps:
      - name: Checkout compactc repository
        uses: actions/checkout@v4
        with:
          ref: ${{ needs.setup.outputs.branch }}

      - name: Check compiler and language versions in internal documentation
        run: |
          # check compiler version
          COMPILER_VERSION=$(grep -oP "\(make-version 'compiler \K[0-9 ]+" compiler/compiler-version.ss | tr ' ' '.')
          DOCS_COMPILER=$(grep -oP "compiler version \K[0-9]+\.[0-9]+\.[0-9]+" doc/ledger-adt.mdx)

          echo "Compiler version: $COMPILER_VERSION"
          echo "Compiler version in docs: $DOCS_COMPILER"

          if [ "$COMPILER_VERSION" != "$DOCS_COMPILER" ]; then
            echo "Compiler version mismatch, please update"
            exit 1
          fi

          echo "Compiler versions match"

          # check language version
          LANGUAGE_VERSION=$(grep -oP "\(make-version 'language \K[0-9 ]+" compiler/language-version.ss | tr ' ' '.')
          DOCS_LANGUAGE=$(grep -oP "language version \K[0-9]+\.[0-9]+\.[0-9]+" doc/ledger-adt.mdx)

          echo "Language version: $LANGUAGE_VERSION"
          echo "Language version in docs: $DOCS_LANGUAGE"

          if [ "$LANGUAGE_VERSION" != "$DOCS_LANGUAGE" ]; then
            echo "Language versions mismatch, please update"
            exit 1
          fi

          echo "Language versions match"

  build-release-arm-linux:
    name: Build compactc binary for Linux aarch64 (Arm)
    uses: ./.github/workflows/release-build.yml
    needs: [ setup, check-docs ]
    secrets: inherit
    with:
      tag: ${{ needs.setup.outputs.clean_tag }}
      branch: ${{ needs.setup.outputs.branch }}
      artifact: linux-release-aarch64
      platform: ubuntu-24.04-arm
      architecture: ${{ needs.setup.outputs.linux_arm }}
      buildCommand: nix build .\#compactc-binary -L
      skipCache: false

  build-release-intel-linux:
    name: Build compactc binary for Linux x86_64 (Intel)
    uses: ./.github/workflows/release-build.yml
    needs: [ setup, check-docs ]
    secrets: inherit
    with:
      tag: ${{ needs.setup.outputs.clean_tag }}
      branch: ${{ needs.setup.outputs.branch }}
      artifact: linux-release-x86_64
      platform: ubuntu-latest
      architecture: ${{ needs.setup.outputs.linux_x86 }}
      buildCommand: nix build .\#compactc-binary -L
      skipCache: false

  build-release-arm-macos:
    name: Build compactc binary for macOS aarch64 (Arm)
    uses: ./.github/workflows/release-build.yml
    needs: [ setup, check-docs ]
    secrets: inherit
    with:
      tag: ${{ needs.setup.outputs.clean_tag }}
      branch: ${{ needs.setup.outputs.branch }}
      artifact: macos-release-aarch64
      platform: macos-latest-xlarge
      architecture: ${{ needs.setup.outputs.macos_arm }}
      buildCommand: nix build .\#compactc-binary -L
      skipCache: false

  build-release-intel-macos:
    name: Build compactc binary for macOS x86_64 (Intel)
    uses: ./.github/workflows/release-build.yml
    needs: [ setup, check-docs ]
    if: ${{ !inputs.skip_macos_intel && github.event_name != 'schedule' }}
    secrets: inherit
    with:
      tag: ${{ needs.setup.outputs.clean_tag }}
      branch: ${{ needs.setup.outputs.branch }}
      artifact: macos-release-x86_64
      platform: macos-15-intel
      architecture: ${{ needs.setup.outputs.macos_x86 }}
      buildCommand: nix build .\#compactc-binary -L
      skipCache: true

  test-arm-linux:
    name: Test compactc on Linux aarch42 (Arm)
    uses: ./.github/workflows/release-test.yml
    needs: [ setup, build-release-arm-linux ]
    secrets: inherit
    with:
      tag: ${{ needs.setup.outputs.clean_tag }}
      branch: ${{ needs.setup.outputs.branch }}
      artifact: linux-release-aarch64
      platform: ubuntu-24.04-arm
      architecture: ${{ needs.setup.outputs.linux_arm }}

  test-intel-linux:
    name: Test compactc on Linux x86_64 (Intel)
    uses: ./.github/workflows/release-test.yml
    needs: [ setup, build-release-intel-linux ]
    secrets: inherit
    with:
      tag: ${{ needs.setup.outputs.clean_tag }}
      branch: ${{ needs.setup.outputs.branch }}
      artifact: linux-release-x86_64
      platform: ubuntu-latest
      architecture: ${{ needs.setup.outputs.linux_x86 }}

  test-arm-macos:
    name: Test compactc on macOS aarch64 (Arm)
    uses: ./.github/workflows/release-test.yml
    needs: [ setup, build-release-arm-macos ]
    secrets: inherit
    with:
      tag: ${{ needs.setup.outputs.clean_tag }}
      branch: ${{ needs.setup.outputs.branch }}
      artifact: macos-release-aarch64
      platform: macos-latest-xlarge
      architecture: ${{ needs.setup.outputs.macos_arm }}

  test-intel-macos:
    name: Test compactc on macOS x86_64 (Intel)
    uses: ./.github/workflows/release-test.yml
    needs: [ setup, build-release-intel-macos ]
    secrets: inherit
    with:
      tag: ${{ needs.setup.outputs.clean_tag }}
      branch: ${{ needs.setup.outputs.branch }}
      artifact: macos-release-x86_64
      platform: macos-15-intel
      architecture: ${{ needs.setup.outputs.macos_x86 }}

  make-release:
    name: Create GitHub release associated with tag
    runs-on: ubuntu-latest
    needs: [ setup, test-arm-linux, test-intel-linux, test-arm-macos, test-intel-macos ]
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ needs.setup.outputs.branch }}

      - name: Create and push tag
        if: ${{ inputs.create_release && github.event_name != 'schedule' }}
        run: |
          git tag ${{ inputs.version }}
          git push origin ${{ inputs.version }}

      - name: Fetch release assets - Linux aarch64 (Arm)
        uses: actions/download-artifact@v4
        with:
          name: linux-release-aarch64

      - name: Fetch release assets - Linux x86_64 (Intel)
        uses: actions/download-artifact@v4
        with:
          name: linux-release-x86_64

      - name: Fetch release assets - Macos aarch64 (Arm)
        uses: actions/download-artifact@v4
        with:
          name: macos-release-aarch64

      - name: Fetch release assets - Macos x86_64 (Intel)
        uses: actions/download-artifact@v4
        with:
          name: macos-release-x86_64

      - name: Create Release
        if: ${{ inputs.create_release && github.event_name != 'schedule' }}
        uses: softprops/action-gh-release@v2
        with:
          repository: midnight-ntwrk/artifacts
          tag_name: compactc-${{ inputs.version || github.ref_name }}
          name: Compactc ${{ inputs.version || github.ref_name }}
          draft: false
          prerelease: false
          files: compactc_${{ needs.setup.outputs.clean_tag }}_*.zip
          token: ${{ secrets.MIDNIGHTCI_PACKAGES_WRITE }}
          body: Compactc ${{ inputs.version || github.ref_name }}

  generate-docs-after-release:
    if: ${{ inputs.docs }}
    name: Create branch in midnight-docs with latest documentation
    needs: [ setup, make-release ]
    uses: ./.github/workflows/generate-docs.yml
    secrets: inherit
    with:
      branch: ${{ needs.setup.outputs.branch }}
      docs_branch: ${{ inputs.docs_branch }}
      pr_description: ${{ inputs.pr_description }}
