name: VSC Plugin Installation Tests

on:
  workflow_dispatch:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Setup api.github.com credentials
        uses: extractions/netrc@v2
        with:
          machine: api.github.com
          username: MidnightCI
          password: ${{ secrets.MIDNIGHTCI_PACKAGES_READ }}

      - name: Setup github.com credentials
        uses: extractions/netrc@v2
        with:
          machine: github.com
          username: MidnightCI
          password: ${{ secrets.MIDNIGHTCI_PACKAGES_READ }}

      - name: Configure git rewrite
        run: |
          mkdir -p $HOME/.config/git
          echo '[url "https://github.com/"]' >> $HOME/.config/git/config
          echo '  insteadOf = "git@github.com:"' >> $HOME/.config/git/config
          echo '  insteadOf = "git@github.com/"' >> $HOME/.config/git/config
          echo '  insteadOf = "ssh://git@github.com/"' >> $HOME/.config/git/config

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install code-server
        run: |
          curl -fsSL https://code-server.dev/install.sh | sh

      - name: Package plugin
        run: |
          cd ./editor-support/vsc/compact
          yarn install --frozen-lockfile
          yarn package

      - name: Install and uninstall extension
        run: |
          cd ./editor-support/vsc/compact
          EXTENSION=$(ls *.vsix)

          echo "Install extension"
          code-server --install-extension "$EXTENSION" | tee installation.log 2>&1
          if ! cat installation.log | grep -q -v "successfully installed"
          then
            echo "Failure"
            exit 1
          fi
          
          echo "List extensions"
          code-server --list-extensions --show-versions | tee list_extensions.log
          EXT_ID=$(cat list_extensions.log | grep "compact" | cut -d '@' -f 1)
          
          echo "Uninstall extension"
          code-server --uninstall-extension "$EXT_ID" | tee uninstallation.log 2>&1
          if ! cat uninstallation.log | grep -q -v "successfully uninstalled"
          then
            echo "Failure"
            exit 1
          fi
